.mat-mdc-card {
  background-color: #fff;
}

mat-card-title {
  display: flex;
  justify-content: center;
}

mat-card-content {
  justify-content: center;
}

.intranet-error {
  padding: 14px;
  color: white;
  background-color: red;
  margin: 14px 0px;
}