<div class="blank-layout-container d-flex justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
        <mat-card class="cardWithShadow row p-4">
          <mat-card-title class="mt-4 mb-4">Reset Password</mat-card-title>
          <mat-card-content>
            <div class="row px-3 mb-4 text-center">
              Please enter the registered email address, and we will send you OTP to reset your password via Email.
            </div>
            <div class="row">
              <mat-form-field class="w-100">
                <input matInput type="text" placeholder="Email" formControlName="email" />
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="w-100">
                <input matInput type="text" placeholder="Enter OTP" formControlName="otp" />
              </mat-form-field>
            </div>

            <div class="row float-end">
              <a href="javascript:void(0)"
              class="text-primary f-w-600 text-decoration-none f-s-14 pe-auto">Send OTP</a>
            </div>
          </mat-card-content>
          <mat-card-actions class="d-block px-3 py-0 mt-4 mb-4">
            <button class="btn btn-primary w-100" type="submit">Reset Password</button>
            <div class="py-3 text-center text-body-secondary f-s-16">
              Return to &nbsp;<a routerLink="/intranet/login"
                class="text-primary f-w-600 text-decoration-none f-s-14 pe-auto">Sign In</a>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
