.intranet-blank-layout-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.intranet-card-shadow {
  box-shadow: #919eab4d 0 0 2px, #919eab1f 0 12px 24px -4px !important;
  width: 450px;
}

.mat-mdc-card {
  background-color: #fff;
}

mat-card-title {
  display: flex;
  justify-content: center;
}

mat-card-content {
  justify-content: center;
}

.intranet-error {
  padding: 14px;
  color: white;
  background-color: red;
  margin: 14px 0px;
}

.intranet-login-logo {
  display: block;
  margin: 0 auto 0 auto;
  max-width: 150px;
}