<div class="intranet-not-found-container bg-light-primary">
  <mat-card class="intranet-not-found-card">
    <mat-card-title>
        <img src="page-not-found.png" alt="Intranet Logo" class="intranet-not-found-logo"/>
    </mat-card-title>
    <mat-card-content class="mb-4">
        <p class="intranet-fs-14">Sorry, the page you are looking for doesn’t exist or has been moved.</p>
    </mat-card-content>
    <mat-card-actions class="d-block px-3 py-0">
        <button class="btn btn-primary w-100" routerLink="/">
          Go Back Home
        </button>
    </mat-card-actions>
  </mat-card>
</div>