<div class="intranet-blank-layout-container bg-light-primary">
  <div class="col-lg-4 d-flex align-items-center">
    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
      <mat-card class="intranet-card-shadow p-4">
        <div class="mt-4">
          <img src="intranet-logo-150px.png" alt="Intranet Logo" class="intranet-login-logo"/>
        </div>
        <mat-card-title class="mb-4">Change Password</mat-card-title>
        <mat-card-content class="mb-4">
          <div class="row">
            <mat-form-field class="w-100">
              <mat-label>Current Password</mat-label>
              <input matInput type="password" formControlName="oldPassword" placeholder="Current Password" />
              <mat-error *ngIf="changePasswordForm.get('oldPassword')?.hasError('required')">
                Current password is required.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="w-100">
              <mat-label>New Password</mat-label>
              <input matInput type="password" formControlName="newPassword" placeholder="New Password" />
              <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">
                New password is required.
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">
                New password must be at least 8 characters long.
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="w-100">
              <mat-label>Confirm New Password</mat-label>
              <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm New Password" />
              <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')">
                Confirming new password is required.
              </mat-error>
              <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.hasError('minlength')">
                Confirming new password must be at least 8 characters long.
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-primary w-100" type="submit">Change Password</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
